<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/kth-me/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <!--<github>
      <add key="Username" value="Kth-Evil-bot" />
      <add key="ClearTextPassword" value="9000bd6ca42933b66e66f44e20b3e474f1d96061" />
    </github>-->
  </packageSourceCredentials>
</configuration>